/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #0d0d0d;
}

canvas#network-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 2rem;
    margin: 1rem;
    background: radial-gradient(circle,#1a2444,#101820);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    color: #e3e3e3;
}

/* Responsive: Flex para los proyectos */
.proyectos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Cada tarjeta de proyecto */
.proyecto {
    flex: 1 1 300px;
    background-color: #2c2c2c36;
    margin: 1rem;
    padding: 1rem;
    border-left: 4px solid #b5cc57;
    border-radius: 5px;
}


.proyecto a {
    color: #0066cc;
    text-decoration: none;
}

.proyecto a:hover {
    text-decoration: underline;
}

/* Imagen responsive */
#sobre-mi img {
    max-width: 20%;
    height: auto;
    border-radius: 200px;
    margin-top: 1rem;
}

/* Lista de habilidades en fila y responsive */
#habilidades ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
    list-style: none;
}

#habilidades li {
    background-color: #e3e3e3;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

/* Títulos */
h1 {
    color: bisque;
}

h2 {
    color: #D5B9B2;
    /*color: #8ea4d2;*/
}

h3 {
    color: #b5cc57;
}

/* Responsive adaptativo */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    #proyectos {
        flex-direction: column;
        align-items: center;
    }

    #habilidades ul {
        flex-direction: column;
        align-items: flex-start;
    }
}

html {
    scroll-behavior: smooth;
}