/* Estilos generales */
html {
  scroll-behavior: smooth;
}


body {
    font-family: "Courier New", Courier, monospace;
    line-height: 1.6;
    margin: 0;
    padding-top: 50px;
    /* height: 100%;
     overflow: hidden;*/
    background: #0d0d0d;
}

canvas#network-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
/*-------------------------------------------------------*/
header {
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding: 1rem;
    text-align: center; 
    position: relative;
}

header h1 {
    font-size: 4rem;
    margin: 0;
    font-weight: 500;
}

header h2 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 400;
}
.burger {
    display: none;
}


/* Navbar en escritorio */
.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1em 2em;       
    backdrop-filter: blur(4px);
    position: fixed; 
    top: 0;                 
    right: 0;                
    left: auto;           
    z-index: 1000; 
}

nav a {
    font-family: "Courier New", Courier, monospace;
    font-size: 14x;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 6px;
    color: #6fb7ff;
    text-decoration: none;
    font-weight: 700;
}

nav a:hover {
    text-decoration: underline;
}

/*-------------------------------------------------------*/
/* Parametros generales de las sections */
section {
    padding: 2rem;
    margin: 1rem;
    background:rgba(0,0,0,0.5);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*-------------------------------------------------------*/
/* Parametros generales de los parrafos*/
p {
    color: #e3e3e3;
    font-size: 18px; 
}
/*-------------------------------------------------------*/
/* section SOBRE MI */
.sobre-mi-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
    padding: 0.5rem;
}

/* Texto ocupa 2/3 */
.sobre-mi-container > div:first-child {
  flex: 2 1 60%;
  text-align: justify;
}

/* Imagen ocupa 1/3 */
.sobre-mi-container > div:last-child {
  flex: 1 1 30%;
  display: flex;
  justify-content: center;
}

/* Imagen redonda y responsiva */
.sobre-mi-container img {
  max-width: 70%;
  height: auto;
  border-radius: 200px;
}
/*-------------------------------------------------------*/
/* SECTION  PROYECTOS */
.proyectos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Cada tarjeta de proyecto */
.proyecto {
    flex: 1 1 300px;
    background-color: transparent;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #fff;
    border-left: 8px solid rgb(218, 218, 218);
    border-radius: 5px;
     transition: background 0.3s, transform 0.2s;
}

.proyectos-container div:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-left-color: #6fb7ff; /* Cambia el color del borde al pasar el mouse */
    transform: scale(1.02); /* Efecto de zoom al pasar el mouse */
}

.proyecto a {
    color: #6fb7ff;
    text-decoration: none;
    font-size: 20px; 
}

.proyecto a:hover {
    text-decoration: underline;
}
/*-------------------------------------------------------*/
/* SECTION  HABILIDADES */

/* Lista de habilidades en fila y responsive */
#habilidades ul {
    display: flex;
    flex-direction: row; /* por defecto en fila horizontal */
    flex-wrap: wrap;     /* si no caben, saltan a la siguiente línea */
    justify-content: center;
    gap: 0.5rem;
    padding: 0;
    list-style: none;
}

#habilidades li {
    max-width: 10rem; /* controla ancho del "botón" */
    flex: 1 1 auto;
    text-align: center;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
.tecnologias i {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    font-size: 2.5em; /* Puedes ajustar el tamaño */
    vertical-align: middle;
}
/* Efecto hover */
#habilidades i:hover {
   color: #1da1f2;
}
/*-------------------------------------------------------*/
/* PREPARACION */
#preparacion a {
    color: #6fb7ff;
    text-decoration: none;
    font-size: 20px; 
}

#preparacion a:hover {
    text-decoration: underline;
}

/*-------------------------------------------------------*/
/* SECTION  CONTACTO */
#contacto a {
    color: #6fb7ff;
    text-decoration: none;
    font-size: 20px; 
}

#contacto a:hover {
    text-decoration: underline;
}

/* Títulos */
h1 {
    color: rgb(211, 211, 211);   
}

h2 {
     color: rgb(211, 211, 211);
}

h3 {
     color: rgb(211, 211, 211);
}


/*-------------------------------------------------------*/
/* Footer */
footer {
  background: #000;
  color: #fff;
  padding: 1rem;
  font-size: 0.9rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content p {
  margin: 0;
}

.social-icons a {
  color: #fff;
  margin: 0 0.5rem;
  font-size: 1.2rem;
  transition: color 0.3s ease;
  text-decoration: none;
}

.social-icons a:hover {
  color: #1da1f2; /* azul twitter como ejemplo */
}

/*-------------------------------------------------------*/
/* Resume Section */ /*RESUME.HTML*/
#resume {
  text-align: center;
  padding: 2rem 1rem;
  
}

.pdf-container {
  max-width: 900px;
  max-height: 1300px;
  margin: 0 auto;
  overflow: hidden;
 
}

.pdf-container iframe {
  width: 100%;
  height: 1400px;
  padding-top: 1rem;
  border: none;
}

.btn-descargar {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  border: 0.5px solid #cccccc;
  background: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s, transform 0.2s;
}

.btn-descargar:hover {
  background: #333;
  transform: scale(1.05);
}
/*-------------------------------------------------------*/

/* Responsive adaptativo */
@media (max-width: 768px) {
     header h1 {
    font-size: 2.5rem;
    }
    /* Muestra el burger */
    .burger {
        display: block;
        position: fixed;
        top: 1rem;
        right: 2rem
    }

    /* Oculta navbar inicialmente */
    .navbar {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        background: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        height: 100%;
        padding:  1rem; 
    }

    /* Al hacer click (clase activa), se muestra */
    .navbar.active {
        display: flex;
    }

    nav a {
        margin: 1rem 0;
        font-size: 1.2rem;
    }

    #proyectos {
        flex-direction: column;
        align-items: center;
    }

    #habilidades ul.tecnologias {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

#habilidades ul.tecnologias li {
    flex: 1 1 45%; /* mínimo ocupa 45%, así caben 2 por fila */
}


    .sobre-mi-container {
    flex-direction: column;
    text-align: center;
    }

    .sobre-mi-container > div:first-child,
    .sobre-mi-container > div:last-child {
        flex: 1 1 100%;
    }

    .sobre-mi-container img {
        max-width: 60%;
    }
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
/* RESUME PDF */
  .pdf-container iframe {
    height: 1400px;
  }
}

